<div class="form-group">
  <label for="plexRemote">Remote Plex Media Server</label>
  <input type="text" id="plexRemote" class="form-control" ng-model="newSettings.plex.remote">
  <p class="help-block">
    Hostname for your Plex Media Server, accessible from your web server.
    <br>
    If you have the Plex Media Server on the same server as PlexWWWatch it is probably "http://localhost:32400".
  </p>
</div>

<div class="form-group">
  <label for="plexLocal">Local Plex Media Server</label>
  <input type="text" id="plexLocal" class="form-control" ng-model="newSettings.plex.local">
  <p class="help-block">
    Hostname for your Plex Media Server, accessible from your Plex Media Server.
    <br>
    If you haven't done any special settings it's probably "http://127.0.0.1:32400".
  </p>
</div>

<div class="form-group" ng-controller="FetchPlexTokenCtrl">
  <h4>Plex Token</h4>
  <label for="plexToken">Plex Token</label>
  <input type="text" id="plexToken" class="form-control" ng-model="newSettings.plex.token" disabled="disabled">
  <label for="myPlexUsername">Plex Username</label>
  <input type="text" class="form-control" ng-model="myplex.username" id="myPlexUsername">
  <label for="myPlexUsername">Plex Password</label>
  <input type="password" class="form-control" ng-model="myplex.password" id="myPlexPassword">
  <button class="btn btn-primary btn-xs" ng-click="fetch(myplex.username, myplex.password)">
    <span class="btn-label">
      Fetch token!
    </span>
  </button>
  <p>
    {{ myPlexMessage }}
  </p>
  <p class="help-block">
    If you need authentication for local servers or if PlexWWWatch is not running on the same local network as your Plex Media Server a Plex token is required for authentication.<br>
    To acquire a token, sign in to plex.tv above and click "FETCH TOKEN" (your username or password are never stored) and wait until the token apear in the token field. Then save the settings.
  </p>
</div>
