div[ng-include="templates.pagination"] {
    display: none;
}

.ng-table .sortable {
    cursor: pointer;
}

.history td {
    vertical-align: top;
}

.poster {
    position: relative;
    height: 145px;
}

.poster .state {
    position: absolute;
    top: 5px;
    left: 5px;

    padding: 5px 8px;
    font-size: 20px;
    line-height: 20px;
    color: #ddd;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.7);
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 0 0 1px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 0 0 1px rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 0 0 1px rgba(255,255,255,0.2);
}

.poster .progress-bar {
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
}

.progress-bar .track {
    background-color: #ff9d00;
    height: 5px;
}

/* history table */
.poster-container {
    width: 100px;
}

.time-container {
    width: 20%;
    padding: 0 5px;
}

.user-container {
    width: 20%;
    padding: 0 5px;
}

.title-container {
    width: 60%;
    padding: 0 5px;
}

.text-error {
    color: #f00;
}
