div[ng-include="templates.pagination"] {
    display: none;
}

.watched {
    width: 100%;
}

.striped-list-item:hover, .striped-list-item .media-container:hover
{
  background-color:rgba(255,255,255,.1);
  color:#fff;
}

.watched td {
    vertical-align: top;
}

.watched .poster-container {
    width: 110px;
}

.watched .poster {
    height: 145px;
    width: 100px;
    position: relative;
    top: 0;
    left: 0;
}

.watched .time-container {
    width: 15%;
}

.watched .user-container {
    width: 20%;
}

.watched .title-container {
    /*width: 40%;*/
}

.watched .title-container .media-title {
    max-width: 90%;
}

.watched .media-details-list-item {
    height: auto;
}

.poster .state {
    position: absolute;
    top: 5px;
    left: 5px;

    padding: 5px 8px;
    font-size: 20px;
    line-height: 20px;
    color: #ddd;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.7);
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 0 0 1px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 0 0 1px rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 0 0 1px rgba(255,255,255,0.2);
}

.poster .progress-bar {
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
}

.progress-bar .track {
    background-color: #ff9d00;
    height: 5px;
}

/* users table */
.users {
    width: 100%;
}

.users th {
    text-align: left;
}

.users .thumb-container {
    width: 50px;
}

.users .user-thumb {
    width: 40px;
    height: 40px;
}

.users .name-container {
    width: 20%;
}

.users .devices-container {
    width: 10%;
}

.users .numwatched-container {
    width: 5%;
}

.users .totalWatched-container {
    width: 25%;
}

/* user page */
.user-thumb {
    width: 60px;
}
/*
.card-item-device {
    width: 25%;
}

.card-2-col-item:nth-child(odd) {
    clear: none;
}

*/

.card-item-device {
    float: none;
    width: auto;
    cursor: pointer;
}

.selected .card {
    background-color: rgba(255,255,255,.1);
}

.card-4-col-item h4 {
    max-width: 75%;
}

@media (min-width: 768px) {
    .card-item-device {
        float: left;
        width: 50%;
    }

    .card-item:nth-child(odd) {
        clear: none;
    }
}

@media (min-width:1200px) {
    .card-item-device {
        width: 25%;
        clear: none;
    }

    .card-item-device:nth-child(3n+1) {
        clear: none;
    }

    .card-4-col-item {
        float: left;
        width: 25%;
    }

    .card-4-col-item:nth-child(odd) {
        clear: none;
    }
}

.chevron {
    color: #ff9d00;
    top: 0;
}

.btn-white {
    color: #fff;
}

.btn-white:hover {
    color: #999;
}

.card .section-icon {
    line-height: 100px;
    font-size: 72px;
    left: 10px;
}
