<div class="row-fluid module" ng-controller="RecentlyWatchedCtrl">
  <div class="well span12">
    <div class="dashboard-well-header well-header">
      <ul class="well-header-actions">
        <li>
          <div ng-if="tableParams.settings().counts.length" class="btn-group btn-group-inverse">
            <button ng-repeat="count in tableParams.settings().counts" type="button" ng-class="{'active':tableParams.count()==count}" ng-click="tableParams.count(count)" class="btn btn-inverse">
              <span ng-bind="count" class="ng-binding"></span>
            </button>
          </div>
        </li>

        <li class="well-header-pagination">
          <span class="page">
            {{ tableParams.page() }}
          </span> of <span class="pages">{{ pages() }}</span>
        </li>
        <li>
          <div class="btn-group btn-group-inverse">
            <button type="button" class="previous-btn btn btn-inverse btn-icon"
              ng-disabled="tableParams.page() <= 1"
              ng-click="tableParams.page(tableParams.page() - 1)">
              <i class="glyphicon chevron-left"></i>
            </button>
            <button type="button" class="next-btn btn btn-inverse btn-icon"
              ng-disabled="tableParams.page() >= pages()"
              ng-click="tableParams.page(tableParams.page() + 1)">
              <i class="glyphicon chevron-right"></i>
            </button>
          </div>
        </li>
      </ul>

      <h3>Recently watched</h3>
    </div>

    <table ng-table="tableParams" class="history">
      <tr ng-repeat="w in $data" ng-include="w.template" ng-controller="WatchedRowCtrl">

      </tr>
    </table>
  </div>
</div>
