<div class="container">
  <h3>Settings</h3>

  <div class="settings-container">
    <div class="row">
      <div class="col-md-3">
        <ul class="settings-nav nav nav-stacked nav-sidebar">
          <li ng-repeat="container in containers">
            <a class="btn-gray" href ng-click="select($index)"
              ng-class="{ 'selected': current == $index }">
                {{ container.title }}
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-9">
        <form>
          <ng-include src="containers[current].template">
          </ng-include>

          <div class="form-footer">
            <button type="submit" class="submit-btn btn btn-lg btn-primary btn-loading" ng-class="{'active': loading}" ng-click="save(newSettings)">
              <div class="loading loading-sm"></div>
              <span class="btn-label">Save Changes</span>
            </button>
            <span class="form-message"></span>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>

</div>
