<div class="row-fluid module">
  <div class="well span12">
    <div class="dashboard-well-header well-header">
      <ul class="well-header-actions">
        <li>
          <div ng-if="tableParams.settings().counts.length" class="btn-group btn-group-inverse">
            <button ng-repeat="count in tableParams.settings().counts" type="button" ng-class="{'active':tableParams.count()==count}" ng-click="tableParams.count(count)" class="btn btn-inverse">
              <span ng-bind="count" class="ng-binding"></span>
            </button>
          </div>
        </li>

        <li class="well-header-pagination">
          <span class="page">
            {{ tableParams.page() }}
          </span> of <span class="pages">{{ pages() }}</span>
        </li>
        <li>
          <div class="btn-group btn-group-inverse">
            <button type="button" class="previous-btn btn btn-inverse btn-icon"
              ng-disabled="tableParams.page() <= 1"
              ng-click="tableParams.page(tableParams.page() - 1)">
              <i class="glyphicon chevron-left"></i>
            </button>
            <button type="button" class="next-btn btn btn-inverse btn-icon"
              ng-disabled="tableParams.page() >= pages()"
              ng-click="tableParams.page(tableParams.page() + 1)">
              <i class="glyphicon chevron-right"></i>
            </button>
          </div>
        </li>
      </ul>

      <h3>Users</h3>
    </div>

    <table ng-table="tableParams" class="users">
      <thead>
        <tr>
          <th></th>
          <th ng-class="{
              'sort-asc': tableParams.isSortBy('name', 'asc'),
              'sort-desc': tableParams.isSortBy('name', 'desc')
            }"
            ng-click="tableParams.sorting({'name' : tableParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})"
            class="sortable name-cell">
            User
          </th>
          <th ng-class="{
              'sort-asc': tableParams.isSortBy('platforms.length', 'asc'),
              'sort-desc': tableParams.isSortBy('platforms.length', 'desc')
            }"
            ng-click="tableParams.sorting({'platforms.length' : tableParams.isSortBy('platforms.length', 'asc') ? 'desc' : 'asc'})"
            class="sortable platforms-cell">
            Platforms
          </th>
          <th ng-class="{
              'sort-asc': tableParams.isSortBy('episodesWatched', 'asc'),
              'sort-desc': tableParams.isSortBy('episodesWatched', 'desc')
            }"
            ng-click="tableParams.sorting({'episodesWatched' : tableParams.isSortBy('episodesWatched', 'asc') ? 'desc' : 'asc'})"
            class="sortable episodes-cell">
            <i class="glyphicon calendar"></i>
          </th>
          <th ng-class="{
              'sort-asc': tableParams.isSortBy('moviesWatched', 'asc'),
              'sort-desc': tableParams.isSortBy('moviesWatched', 'desc')
            }"
            ng-click="tableParams.sorting({'moviesWatched' : tableParams.isSortBy('moviesWatched', 'asc') ? 'desc' : 'asc'})"
            class="sortable movies-cell">
            <i class="glyphicon film"></i>
          </th>
          <th ng-class="{
              'sort-asc': tableParams.isSortBy('timeWatched', 'asc'),
              'sort-desc': tableParams.isSortBy('timeWatched', 'desc')
            }"
            ng-click="tableParams.sorting({'timeWatched' : tableParams.isSortBy('timeWatched', 'asc') ? 'desc' : 'asc'})"
            class="sortable totalTime-cell">
            Total time watched
          </th>
          <th ng-class="{
              'sort-asc': tableParams.isSortBy('lastWatchedAt', 'asc'),
              'sort-desc': tableParams.isSortBy('lastWatchedAt', 'desc')
            }"
            ng-click="tableParams.sorting({'lastWatchedAt' : tableParams.isSortBy('lastWatchedAt', 'asc') ? 'desc' : 'asc'})"
            class="sortable lastWatchedAt-cell">
            Time since last watch
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in $data" ng-include="'partials/userRow.html'" ng-controller="UserRowCtrl">

        </tr>
      </tbody>
    </table>
  </div>
</div>
